cities
[("Arlington",1,1), ("Berkshire",2,3), ("Chelmsford"1,5), ("D"2,6), ("C"4,5), ("E"3,2), ("F"8,9)]
"Arlington"
"F"
("Arlington", "Chelmsford", 6)
("Arlington", "Berkshire", 10)
("Berkshire", "Chelmsford", 5)
("D", "Arlington", 6)
("D", "Berkshire", 6)
("Chelmsford", "E", 9)
("E", "F", 25)
("C", "Arlington", 8)
("C", "F", 9)

